.form__button {
  height: 45px;
  padding: 0;
  line-height: 45px;
  margin: 1rem 0;
  font-size: $fs-0;
  font-weight: 800;
  font-family: $font-family-barlow;
  letter-spacing: 1px;
  border: none;
  border-radius: 4px;
  color: $second-color;
  background-color: $main-color;
}